body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar{
    background: #333;
    overflow: hidden;
}

.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.main{
    padding: 20px;
}

.title{
    color: #333;
}